@import "tailwindcss";

:root {
  --primary-50: #f0fdf4;
  --primary-100: #dcfce7;
  --primary-200: #bbf7d0;
  --primary-300: #86efac;
  --primary-400: #4ade80;
  --primary-500: #22c55e;
  --primary-600: #16a34a;
  --primary-700: #15803d;
  --primary-800: #166534;
  --primary-900: #14532d;
  
  --blue-100: #dbeafe;
  --blue-600: #2563eb;
  --red-100: #fee2e2;
  --red-600: #dc2626;
  --orange-100: #fed7aa;
  --orange-600: #ea580c;
  --purple-100: #f3e8ff;
  --purple-600: #9333ea;
  
  --white: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;
  --gray-900: #111827;
}